:root{
    --primer:#CADA2A;
    --segundo:#00A82D ;
    --tercero:#FFF;
    --negro: #000;
}
@font-face {
    font-family: 'amsi';
    src: url("american_signs/AmericanSigns.otf");
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serifs;
}
a{
    text-decoration: none;
    color: var(--negro);
}
.meta{
    margin: 0;
    padding: 0;
    min-height: 90%;

}
body
{
    background-color: var(--tercero);    
}
header
{
    margin:0;
    padding: 2vh;
    padding-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 10px #888888;
}
.header__title
{
    font-size: calc(5.5vh + 3vw);
    text-align: center;
    font-weight: 900;
    color:var(--segundo);
    
}
.mainContainer
{
    background-color: var(--tercero);
    padding: 1vh;
    margin: 2vh;
    min-height: 70vh;
    margin-top: 5vh;
}
.mainContainer__tecnology
{
    background-color: var(--primer);
    padding: calc(2.5vh + 4vw);
    margin:-webkit-calc(1.5vh + 1vw);
    color: var(--negro);
    box-shadow: 0px 10px 10px #888888;
    transition: 0.7s;

}
.select{
    
    background-color: var(--tercero);
    outline: none;
    border: var(--segundo) solid 1px;
    color: var(--segundo);
    padding: 10px;
}
option{
    padding: 30px;
    margin: 10em;
    font-size: -webkit-calc(1.5vh + 2vw / 2);
}
.mainContainer__tecnology:hover
{
    margin: -webkit-calc(0.5vh + 0.5vw);
}
.mainContainer__tecnology:last-child
{
    color: var(--negro);
}

footer{
    width:100%; 
    min-height: calc(7vh + 4vw);
    background-color:var(--segundo);
    padding: calc(1.5vh + 1.5vw);
    box-sizing: border-box;

}
/*
------Optimizar para Surface pro 7 el tamaño de letra
*/
.footer__text
{
    font-size: calc(1.5vh * 1.5vw);
}