:root{

    --primer:#08A57A ;
    --segundo:#39AD30;
    --tercero:#FFF;
    --negro: #033D1A;


}
@font-face {
    font-family: 'amsi';
    src: url("american_signs/AmericanSigns.otf");
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serifs;
}
a{
    text-decoration: none;
    color: var(--negro);

}
.meta{
    margin: 0;
    padding: 0;
    min-height: 90%;

}
body
{
    background-color: var(--tercero);    
}
header
{
    margin:2vh;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__title
{
    font-size: calc(5.5vh + 3vw);
    text-align: center;
    font-weight: 900;
    color:var(--segundo);
    
}
.mainContainer
{
    background-color: var(--tercero);
    padding: 1vh;
    margin: 2vh;
    min-height: 70vh;
    margin-top: 5vh;
}
.mainContainer__tecnology
{
    background-color: var(--primer);
    padding: 7vw;
    margin:-webkit-calc(1.5vh + 1vw);
    color: var(--negro);
}
.mainContainer__tecnology:last-child
{
    background-color: var(--primer);
    padding: 7vw;
    margin-bottom: 10vh;
    color: var(--negro);
}

footer{
    width:100%; 
    min-height: calc(7vh + 4vw);
    background-color:var(--segundo);
    padding: calc(1.5vh + 1.5vw);
    box-sizing: border-box;

}
.footer_text
{
    font-size: calc(1vh * 1vw);
}