:root{
    --primero: #FF5733;
    --segundo: #5E6AFC;
    --blanco: #fff;
    --negro: #000;
}
*
{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--negro);
    margin-top: 0;
    background-color: var(--blanco);
    box-shadow: 0px 10px 10px #888888;
}
h2{
    margin:1.5vh 0;
}
.header__title
{
    margin: 5vh;
    margin-top: 7vh;
    font-size: calc(1.2vh + 1.2vw);

}
.header__logo
{
    height: calc(2.5vh + 2.5vw);
    display: inline;
    margin: 1vw;
}
h1{
    display: inline;
}
.main{
    margin: 10vw;
    margin-top: calc(2.5vh + 2.5vw);
    display: flex;
    flex-direction: column;
}
.git,.gitHub
{
    text-align: justify;
    margin: 2.5vh 0;
}
.main__grafic{
    margin: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.grafic1__gitInit, .grafic1__gitPush
{
    margin: 4vh;
    align-self: center;
}
.grafic1__areas
{
    padding:3vh;
    background-color: var(--primero);
    margin: 4vh;
    align-self: center;
    border: var(--segundo) solid 2px;
    font-weight: 700;
}
.grafic1__areas::before
{
    content:'a';
    background-color: var(--negro);
    height: 1vh;
    width: 2vw;
}
.remote::before{
    content:'';
    display:flex;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    z-index: 50;
    position: relative;
    box-sizing: content-box;
    align-self: center;
    z-index: -1;
    margin: 1vh 5vh -6.5vh 5vh;
    background-color: #5E6AFC;
    border: var(--primero) solid 2px;

}
.remote{
    background-color: transparent;
    border: none;


}


